// header
$header-height: 60px;
$header-bg-color: rgba(255,255,255,.8);
$header-color: #555;
$header-color-active: orange;
$header-bg-color-active: orange;
$logo-short-url: 'static/img/short-logo.png';
$logo-long-url: 'static/img/long-logo.png';
// side
$side-width: 200px;
$side-background-color: rgba(255,255,255,.8);
$sider-color: #555;
$side-color-active: orange;
$side-bg-color-active: orange;

// page
$page-bg-image: 'static/img/wallpaper-1.jpg';
$page-bg-color: #fff;
